body{
	background-color: #cccccc;
	font-family: 'arial', cursive;
	font-size: 30px;
	margin: 0px;

}

#header{
	background-color: #b30000;
	padding: 2px;
	color:  black;
	font-size: 70%;
	
}
h1{
	text-align: center;
}
h5{
	background-color: #b30000;
	margin-top: 10px;
	margin-bottom: 0px;
}

#nav{
	height: 53px;
	margin-top: 10px;
	padding: 0;
  background-color: #b30000;
  margin-bottom: 0px;


}

#nav {
	border-radius: 5px;
	text-align: left;

}
#nav ul li{
	display: inline;
	margin: auto;
	list-style-type: none; 
}
#nav ul li a {
text-decoration: none;
color:  black;

display: inline-block;
text-align: center;
padding: 14px 16px;
font-size: 65%;
margin-bottom: 0px;

}

#nav a:hover{
	background-color: #800000;
	color: black;
}
#nav a.active{
	background-color: #660000;
	color: white;
}
/*//////////////PICS///////////////////*/

#pics{
	background-color: white;
}
#pics div{
	display: inline-block;
	margin: auto;
}
div.img{
	 margin: 10px;
  float: center;
  width: 215px;
  height: 200px;
}
div.img img{
	 width: 100%;
  height:100%;
  margin: 10px;
}
div.des{
	text-align: center;
	font-size: 50%;
}
/*////////////////////////SIGNUP///////////////////////*/
form, option{
	font-size: 60%;
}
div.des{
	text-align: center;
	font-size: 50%;
}
.leftbar{
	background-color: white;
	width: 550px;
	height: 300px;
	float: left;
	margin: 50px;
	font-size: 150%;
	text-align: right;
	margin-bottom: 0;
}
.rightbar{
	background-color: white;
	width: 550px;
	height: 300px;
	float: right;
	margin: 50px;
	font-size: 150%;
	text-align: right;
	margin-bottom: 0;

}
input{
	margin: 10px;
	width: 350px;
	height: 30px;
	font-size: 100%;
	background-color: black;
	color: white;
}
option{
	text-align: center;
}
.bottom{
	background-color: white;
	height: 80px;
	clear: both;
	margin: auto;
	text-align: center;
	width: 1247px;
}
.bottom label{
	font-size: 150%;
}

.bottom input{
	width: 700px;
	text-align: center;
}
.password{
	background-color: white;
	width: 1247px;
	margin: auto;
}
.password label{
	margin: 30px;
	font-size: 150%;
}
.submit{
	width: 100px;
	margin: auto;
	margin-top: 10px;
}
.submit input{
	width: 100px;
	text-align: center;
	background-color: black;
	margin: auto;
	color: white;
}

/*///////////////////////////GALLERY////////////////////*/
div.image{
  margin: 20px;
  float: center;
  width: 300px;
  height: 300px;
}
div.image img{
  width: 100%;
  height:100%;
}

.disc{
  padding: 15px;
  text-align: center;
}
#gal div{
  display: inline-block;
  margin: auto;
}
/*//////////////////LOGIN////////////////////*/
.bod{
	background-color: #b30000;
	font-size: 150%;
	width: 550px;
	height: 400px;
	margin: auto;
	margin-top: 30px;
	text-align: center;
}
.bod label{
	margin: 30px;
}
.bod input{
	width: 500px;
	height: 50px;
}
.log input{
	font-size: 100%;
}
.book{
	width: 250px;
	margin: auto;
	margin-top: 30px;
}
.book input{
	width: 250px;
	text-align: center;
	background-color: black;
	margin: auto;
	color: white;
	font-size: 100%;
}
/*//////////////////SERVICES////////////////////////////*/
.div1 {
	border:1px hidden black;
	text-align: center;
	width: 100%;
	height: 70px;
	font-size: 50px;
}
 .div2 {
 	font-size: 30px;
 	margin-left: 300px;
 }
 .div2 input {
 	margin: 10px;
 	height: 20px;
 	width: 200px;
 	text-align: center;
 }
  .sign {
   	text-align: center;
   	margin-top: 10%;
   	font-size: 30px;
   }
   .sub{
   	
   	width: 100px;
	margin: auto;
	margin-top: 10px;

   }
   .sub input{
   	background-color: white;
   	color: black;
   	width: 100px;
   	height: auto;
   	margin: 0;
   }
.main{
	background-color: white;
	text-align: center;
	font-size: 70%;
}
/*////////////////////BOOK/////////////////////*/
.la {
	margin: auto;
	width: 1247px;
	height: 100px;
	clear: both;
	background-color: white;
font-size: 100%;
}
.la input{
	margin: 0;
}
/*/////////////////HOME/////////////////////*/
.reg{
	background-color:  #b30000;
	clear: both;
	text-align: center;

}
.reg a{
	text-decoration: none;
}